<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include('../partials/admin/dash-navbar.ejs') %>

      <h2>CATEGORIES</h2>

      <section class="container">
        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table" id="datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Update</th>

                </tr>
              </thead>
              <tbody>
                <% if(category.length>0){ %>
                  <% var count=1 %>
                    <% category.forEach(items=> { %>

                      <tr>
                        <th scope="row">
                          <%= count++ %>
                        </th>
                        <td class="fw-bold">
                          <%= items.categoryname %>
                        </td>
                        <td>
                          <div>
                            <button class="btn btn-outline-warning fw-bold" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop<%= count %>">Delete</button>


                            <div class="modal fade" id="staticBackdrop<%= count %>" data-bs-backdrop="static"
                              data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    It will be removed !!!
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                    <button type="button" class="btn btn-danger" id="delete<%= count %>"
                                      onclick="deleteCategory(this.id)" data-url="<%= items._id %>">Delete</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                        <% } %>
              </tbody>
            </table>
          </div>
        </div>

        <div>
          <form action="/admin/categories/add" method="POST">
            <h4 class="form-label">ADD NEW CATEGORIES</h4>
            <span class="text-danger fw-bold">
              <%= message %>
            </span>
            <div class=" ">
              <input class="form-control form-control-lg  " type="text" name="category" id="category"
                placeholder="New Category"></input>
              <button class="btn btn-outline-secondary btn-lg mt-3 mb-3 " type="submit"> ADD CATEGORY</button>
            </div>
          </form>

        </div>



      </section>


      <%- include('../partials/bottom-navbar.ejs') %>
        <script src="/script/scriptadmin.js"></script>
  </body>

</html>