<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body class="logimg">

    <%- include('./partials/top-navbar.ejs')%>


      <div class="container-fluid d-flex align-items-center justify-content-center bg-success">
        <div class="row mt-5">
          <div class="col-sm-6 text-black">
            <!-- <span class="text-danger fw-bold fs-5 mesg">
              <%= message %>
            </span> -->
            <form action="/login" method="POST" style="width: 23rem;">
              <h3 class=" login fw-bold mt-5 mb-3 pb-3 " style="letter-spacing: 1px;">Log in</h3>

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password " name="password">
              </div>
              <span class="text-danger fw-bold fs-5 mesg">
                <%= message %>
              </span>
              <p class="mb-2"><a class="forget text-warning" href="">forger password?</a></p>
              <div class="mb-4 d-flex justify-content-center  btn-lg">
                <button class=" btn login-btn m-auto px-5 py-1 rounded-pill fs-3" type="submit" name="submit"
                  id="submit">Login</button>
              </div>

              <p>New to here? <a href="/register" class="linkinfo text-decoration-none fs-4 text-info">Register</a>
              </p>
            </form>

          </div>
        </div>
      </div>

      <!-- <%- include('./partials/bottom-navbar.ejs') %> -->


  </body>

</html>